nav {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* todo apply on scoll */
    /* box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1); */
    /* border-bottom: 1px solid var(--body-grey); */

    a.nav-menu {
        display: none;
    }

    span.nav-logo,
    span.center-nav-links,
    span.right-nav-links {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--primary-white);
            font-size: 18px;
            &:hover {
                color: var(--primary-blue);
            }
        }
    }

    span.nav-logo {
        display: flex;
        gap: 10px;
        img {
            height: 34px;
            width: auto;
        }
        h3 {
            font-size: 22px;
            color: var(--primary-white);
        }
    }
    span.center-nav-links {
        gap: 30px;
    }

    span.right-nav-links {
        gap: 10px;
        .cart-count {
            background: red;
            color: white;
            border-radius: 50%;
            padding: 0.5rem;
            margin-left: 0.5rem;
            font-size: 0.75rem;
          }
    }

    &.scrolled {
        background: var(--primary-white);
        color: var(--primary-blue);

        span.nav-logo,
        span.center-nav-links,
        span.right-nav-links, .logo-name {
            color: var(--primary-blue);

            a {
                color: var(--primary-blue);
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    span.nav-logo {
        h3 {
            display: none;
        }
    }
    span.center-nav-links {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
    
}