section.collection-card {
    background: var(--primary-white);

    span.section-header {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            /* color: var(--primary-blue); */
            font-size: 28px;
        }
        p {
            /* font-size: 20px; */
        }
    }

    section.section-content-container {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        span.image-background {
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                border-radius: 15px;
                background: var(--primary-black);
            }
            span.collection-name {
                text-align: center;
                position: relative;
                bottom: 20px;
                background-color: var(--primary-blue);
                padding: 10px 20px;
                /* font-size: 24px; */
                width: fit-content;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

/* @media only screen and (max-width: 992px) {
@media only screen and (max-width: 768px) {
*/
